/* .headerPrimary{
    width: 99vw;
    height: 10vh;
} */
.headerDesign {

    height: 10vh;
    width: 100%;
    background: #176087;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

.headerDesign img{

    height: 3em;
    width: 3em;
}

.link {

    font-weight: bold;
    color: black;
    transition: 0.5s;
    margin: 1em;
    cursor: pointer;
}
